@value tablet, laptop, laptopLarge, borderRadius from '../../styles/metrics.module.scss';
@value colorBackground, colorBorder, colorShadow from '../../styles/colors.module.scss';

.mediaPlayer {
  display: flex;
  flex-direction: column;
}

.songList {
  border-top-left-radius: borderRadius;
  border-bottom-left-radius: borderRadius;
  background-color: colorBackground;
  overflow-y: auto;
  width: 100%;
}

.album {
  position: relative;
  border-top-right-radius: borderRadius;
  border-bottom-right-radius: borderRadius;
  background-color: colorBackground;
  width: 100%;
}

.controller {
  position: fixed;
  bottom: 0;
}

@media (min-width: tablet) {
  .mediaPlayer {
    border: 2px solid colorBorder;
    border-radius: borderRadius;
    background-color: colorBackground;
    box-shadow: 12px 12px 40px colorShadow;
    margin: 3rem auto;
    height: 60vh;
    max-width: 80vw;
    flex-direction: row;
  }

  .songList {
    width: 50%;
  }
}
