@value tablet from '../../styles/metrics.module.scss';
@value colorBackgroundWhite from '../../styles/colors.module.scss';

$drawerHeight: 2.75rem;

.drawer {
  position: fixed;
  z-index: 3;
  bottom: 0;
  display: flex;
  flex-direction: column;
  background-color: colorBackgroundWhite;
  transform: translate3d(0, -100%, 0);
  transition: 0.5s ease-in-out;
}

.bottom {
  top: auto;
  bottom: 0;
  transform: translate3d(0, calc(100vw + #{$drawerHeight}), 0);
}

.fullwidthMobile {
  width: 100vw;
}

.open {
  transform: translate3d(0, 0, 0);
}

@media (min-width: tablet) {
  .drawer {
    max-width: 24rem;
  }

  .fullwidthMobile {
    width: calc(100vw - #{$drawerHeight});
    max-width: 24rem;
  }

  .bottom {
    top: auto;
  }
}
