.bars {
  position: relative;
  height: 16px;
  width: 4rem;
  transform: scale(2) translateX(-50%);
}

.bar {
  position: absolute;
  bottom: 0px;
  height: 8px;
  width: 1px;
  background: #000;

  transform: translateY(50%);
}

.enabled {
  animation: sound 0ms -800ms linear infinite alternate;
}

@keyframes sound {
  0% {
    opacity: 0.35;
    height: 5px;
  }
  100% {
    opacity: 1;
    height: 20px;
  }
}
