@value tablet from '../styles/metrics.module.scss';
@value colorBackground from '../styles/colors.module.scss';

body {
  background-color: colorBackground;
}

.appContainer {
  position: relative;
  width: 100vw;
  max-width: 100%;
}

@media (min-width: tablet) {
  body {
    background-color: unset;
  }
  .appContent {
    padding-top: 4rem;
  }
}
