@value tablet from '../styles/metrics.module.scss';

.appContainer {
  position: relative;
  width: 100vw;
  max-width: 100%;
}

.appContent {
  min-height: calc(100vh - 4rem);
}

@media (min-width: tablet) {
  .appContent {
    padding-top: 4rem;
  }
}
